body {
  background-color: #0000FF;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("bg.jpg");
    background-repeat: repeat;
    background-size: cover;
}


h1{
   color: white; 
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 70px;
}


*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 10;
  }
  
.container{
    width: 1600px; margin: 70px 50px 0px 350px; 
    margin-left: 200px;
    align-content: center;


}


.container1{
  width: 1600px; margin: 70px 50px 0px 350px; 
  margin-left: 250px;
  align-content: center;


}


  .personalinfo{
    color: #ffffff;
    background-color: #b1721f ;
      border-radius: 25px;
      border: 5px solid #FFFFFF;
      width: 450px; height: 450px; background-color:#FF69B4; float: left;
      margin: 20px;
      padding-top: 50px;
    }


  .education{
        color: #ffffff;
        background-color: #b1721f ;
          border-radius: 25px;
          border: 5px solid #FFFFFF;
          width: 935px; height: 450px; background-color:#FF69B4; float: left;
          margin: 20px;
          padding-top: 50px;
        }


  .skills{
          color: #ffffff;
          background-color: #b1721f ;
            border-radius: 25px;
            border: 5px solid #FFFFFF;
            width: 450px; height: 600px; background-color:#FF69B4; float: left;
            margin: 20px;
            padding-top: 50px;
          }


  .characterref{
            color: #ffffff;
            background-color: #b1721f ;
              border-radius: 25px;
              border: 5px solid #FFFFFF;
              width: 650px; height: 600px; background-color:#FF69B4; float: left;
              margin: 20px;
              padding-top: 50px;
            }
  .gallery{
              color: #ffffff;
              background-color: #b1721f ;
              border-radius: 25px;
              border: 5px solid #FFFFFF;
              width: 690px; height: 550px; background-color:#FF69B4; float: left;
              margin: 20px;
              padding-top: 50px;
              }
  
          .gallerypage{
              margin-top: 50px;
              margin-left: 120px;
                flex-direction: row;
                }
    
                .gallerypage1{
                  margin-top: 20px;
                  margin-left: 120px;
                    flex-direction: row;
                    }
h2{
    text-align: center;
    font-size: 40px;
    margin: 10px;
}


li{
    font-size: 20px;
    padding-left: 30px;
    margin-top: 10px;
}


pre{
  color: white;
  font-size: 20px;
  margin-top: 10px;
}


a:link {
  color: white;
}


a:visited {
  color: whitesmoke;
}


a:hover {
  color: gray;
}


a:active {
  color: green;
}
